
.theme-green{
  color: #008080!important;
  font-weight: 700;
}

.theme-red{
  color:red!important;
  font-weight: 700;
}

.theme-amber{
  color:#FFBF00!important;
  font-weight: 700;
}

.button-warning {
    background: #FFF !important;
    color: #c13d3e !important;
    border: 1px solid #c13d3e !important;
}

a{
  text-decoration: none!important;
}

/* Header */

.main-header .menu-item span.sub-arrow path {
    fill: #FFF;
}

/* Loop for course */

.course-catalog *:not(i){
    font-family: 'montserrat'!important;
}

.course-catalog a{
    color: #000;
}

.course-catalog {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    margin: auto;
}

.course-wrapper.visable:nth-child(2n+1) {
    background: #ededed;
}

.course-wrapper:nth-child(2n) {
    background: #FFF;
}

.course-wrapper {
    padding: 30px;
}

.course-wrapper .course-heading {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 26px;
    column-gap: 10px;
}

.course-wrapper .course-heading h1 {
    margin: unset;
    font-size: 30px;
    font-weight: 700;
}

.course-wrapper .course-heading h6 {
    margin: unset;
    font-weight: 700;
}

.course-wrapper .course-details {
    position: relative;
    flex: 1;
}

.course-wrapper .course-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
}

.course-wrapper .course-pdf {
    flex: 0 0 30%;
}

.course-wrapper .course-pdf a{
    height: 377.56px;
    display: block;
}

.course-wrapper .details-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}

.course-wrapper .details-row a{
    color: #008080;
    font-weight: 600;
}

.course-wrapper span {
  font-size: 16px;

}

.course-wrapper span.type {
    min-width: 175px;
    font-weight: 600;
}

.course-wrapper .register button,
.course-wrapper .register a {
    padding: 13px 20px;
    background: #008080;
    color: #FFF;
    text-decoration: unset !important;
    font-weight: 600;
    border-radius: 3px;
    border:unset;
    margin-left: 10px;
    line-height: 19px;
}

.course-wrapper .register {
    height: 45px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

.popup-message {
     position: fixed;
     top: 50px;
     left: 50%;
     transform: translateX(-50%);
     min-width: 300px;
     padding: 15px!important;
     font-size: 14px;
     color: #333;
     background-color: #fff;
     border: 1px solid #c3c4c7;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     z-index: 9999;
     display: none;
 }
 .popup-message.notice {
     border-left: 5px solid #00a32a;
 }
 .popup-message.warning {
     border-left: 5px solid #dba617;
 }
 .popup-message.error {
     border-left: 5px solid #d63638;
 }

/* Add to cart popup*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* Dark transparent background */
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Popup box */
.popup-box {
    background-color: #fff;
    width: 550px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    position: relative;
    text-align: left;
    font-family: 'montserrat' !important;
}

/* Popup header */
.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.popup-header h3 {
    font-weight: 600;
}

/* Close button */
.close-popup {
    font-size: 30px;
    cursor: pointer;
    color: #333;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
}

.enrollment-notice {
    font-size: 16px;
    margin-bottom: 20px;
    border-left: 5px solid #ffe500;
    padding: 8px 15px;
    background: #f8f8f8;
}

/* Form elements */
#upload-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: left;
}

#upload-form input[type="file"] {
    width: 100%;
    margin-bottom: 20px;
}

/* Submit button */
.submit-button {
    background-color: #0073aa;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.submit-button:hover {
    background-color: #005a87!important;
}

/* My account course tab */

.course-catalog.my-course{
    gap: 10px;
}

.my-course .course-wrapper {
    padding: 10px 10px 15px 10px;
}

.course-wrapper:not(:last-child) {
    border-bottom: 1px solid #eaeaea;
}

.my-course .course-wrapper .course-heading h6 {
    font-size: 16px;
    margin: unset;
    font-weight: 700;
}

.my-course .course-wrapper span {
    font-size: 14px;
}

.my-course .course-wrapper .course-heading{
    margin-bottom: 20px;
}

.my-course .course-wrapper .details-row {
    margin-bottom: 8px;
}

.my-course a.button {
    font-size: 12px;
    margin-top: 20px;
    padding: 5px 11px;
    background: #008080!important;
    color: #FFF!important;
    text-decoration: unset!important;
    font-weight: 600;
    border: unset;
    border-radius: unset!important;
}

.my-course a.button:hover{
  background: #005a5a;
  color:#FFF;
}

.footer-button{
  justify-content: space-between!important;
}

/* My account */

.profile-heading {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #008080;
}

.profile-data {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.profile-data span.title {
    flex: 0 0 140px;
}

.profile-data span.value {
    display: flex;
    flex-direction: column;
}

.member-profile {
    margin-bottom: 20px;
}

p.welcome-message a {
    background: #008080;
    color: #FFF !important;
    padding: 2px 15px;
    margin-left: 10px;
    font-size: 13px;
    border-radius: 3px;
}

.woocommerce-MyAccount-content-wrapper {
    padding: 25px !important;
    box-shadow: 0 3px 95px rgb(0 0 0 / 13%);
}

table.shop_table.shop_table_responsive.my_account_orders.my_account_memberships {
    border: unset;
}

form.woocommerce-ResetPassword{
    margin: auto;
    max-width: 350px !important;
}

form.woocommerce-ResetPassword p.woocommerce-form-row {
    width: 100%;
}

form.woocommerce-ResetPassword button{
    border-radius: unset !important;
    padding: 10px 25px !important;
}

/* Filter on cpd page */

.filter-wrapper form.membership-form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 8px;
}

.filter-wrapper form.membership-form select {
    font-size: 14px!important;
    padding: 3px!important;
}

.filter-wrapper form.membership-form input[type="text"] {
    padding: 0 3px!important;
    font-size: 14px!important;
    width: 115px;
}

.filter-wrapper {
    margin: 30px 0 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.filter-button {
    border-radius: 2px;
    padding: 0 8px!important;
    font-size: 14px;
    background-color: #008080!important;
    color: #FFF!important;
    font-weight: 600;
    border: unset!important;
}

.date-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
}

input.date-filter {
    padding: 2px;
    width: 110px;
    font-size: 14px;
}

/* Cpd records table */


.unit-member-info p {
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    margin:unset!important;
}

.unit-member-info {
    overflow-x: scroll;
}

.unit-member-info-heading {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.cpd-table{
    text-align: left;
    min-width: 600px;
    width: 100%;
    margin-top: 20px;
}

.cpd-table th{
    background-color: #FFF !important;
    border: unset !important;
    text-align: left !important;
    padding: 5px !important;
}

.cpd-table td{
    border: unset !important;
    text-align: left !important;
    padding: 5px !important;
    line-height: 18px;
}

.cpd-table tr:nth-child(2n){
  background-color: #FFF !important;
}

.cpd-table tr:nth-child(2n + 1){
  background-color: ##00808012 !important;
}

.cpd-table .date-issued{
  width: 100px;
}

.cpd-table td.organization {
    width: 110px;
}

.cpd-table td.cpd-point {
    width: 95px;
}

.cpd-table td.code {
    width: 110px;
}

.cpd-table td.certificate {
    width: 90px;
}

.cpd-table td.certificate a{
  color:#008080;
  cursor: pointer;
}

/* Calender */

.ui-datepicker td.has-event a {
    background: #f00;  /* Customize as needed */
    border-radius: 50%;
    color: white;
}

/* Course filter */

div#course-filter {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 30px;
}

div#course-filter select {
    border: 1px solid #008080;
    border-radius: unset;
    padding: 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-container {
    flex: 1;
    position: relative;
    max-width: 500px;
    margin: auto;
}

.select-container::after {
  content: '\f107'; /* Unicode for down arrow */
  font-family: 'Font Awesome 6 Free';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 18px;
  font-weight: 900;
  color: #008080;
}

/* Registration */

button.disabled,
input.disabled,
a.disabled {
    background-color: #b7b7b7!important;
    color:#FFF;
    pointer-events: none;
}

/* Cart */

.custom-cart .product-thumbnail {
    display: none;
}

.custom-cart .product-remove {
    padding: 20px 20px 20px 0 !important;
}

.custom-cart dl.variation, .custom-checkout dl.variation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.custom-cart .variation dt, .custom-checkout .variation dt {
    width: 120px;
    font-weight: 500;
    margin-bottom: 8px
}

.custom-cart .variation dd, .custom-checkout .variation dd {
    width: calc(100% - 150px);
}

.custom-cart .product-name .title{
    margin-bottom: 10px;
}

.custom-checkout .product-name .title{
  margin-bottom: -10px;
}

td.product-name .title {
    display: inline;
}

.shipping_address {
    border: unset !important;
    background: #FFF !important;
    box-shadow: 0px 5px 95px 0px rgba(0, 0, 0, 0.13);
}

/* Membership application */

.membership-application-button,
.membership-button-wrapper button,
button#add-membership-to-cart,
#confirm-renewal,
#cancel-renewal{
    border: unset;
    background: #008080;
    border-radius: unset;
    color: #FFF;
    padding: 8px 25px;
    font-weight: 700;
    font-size: 16px;
}

.membership-application-button:focus,
.membership-button-wrapper button:focus,
button#add-membership-to-cart:focus,
#confirm-renewal:focus,
#cancel-renewal:focus{
    border: unset;
    background: #008080;
    border-radius: unset;
    color: #FFF;
    padding: 8px 25px;
    font-weight: 700;
    font-size: 16px;
}

.membership-application-button:hover,
.membership-button-wrapper button:hover,
button#add-membership-to-cart:hover,
#confirm-renewal:hover,
#cancel-renewal:hover{
    border: 1px solid #008080;
    background: #FFF;
    border-radius: unset;
    color: #008080;
    padding: 8px 25px;
    font-weight: 700;
    font-size: 16px;
    transition: 0.3s;
}

button#add-membership-to-cart {
    margin-top: 20px;
}

div#membership-popup{
    background-color: white;
    padding: 30px 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(204, 204, 204);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
    z-index: 9999;
    display: none;
}

#popup-content h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
}

.membership-button-wrapper{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}

div#popup-content label {
    color: #333333;
    margin-bottom: 5px;
    margin-top: 15px;
}

.renewal {
    margin-bottom: 30px;
}

/* Calender */

div#course-calendar-widget {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

div#calendar-wrapper {
    flex: 0;
}

div#display-course {
    flex: 1;
}

#display-course .tab-button-wrapper {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.tab-button-wrapper .tab-button {
    padding: 15px 13px 0px 13px;
    background: white;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s;
    border-bottom: 3px solid #00808000;
    cursor: pointer;
}

.tab-button-wrapper .tab-button.active {
    border-bottom: 3px solid #008080;
}

#display-course .course-wrapper:not(.visable){
  display: none;
}

div#calender-loader {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #eaeaea59;
    z-index: 9;
}

div#calender-loader i.fa.fa-spinner.fa-spin {
    top: 50%;
    left: 50%;
    position: absolute;
    font-size: 30px;
}

button i.fa.fa-spinner.fa-spin{
  color:#FFF;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 10px;
}
.calender-course-wrapper {
  border: 1px solid #008080;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 20px;
}

#side-calender .calender-course-wrapper{
  cursor: pointer;
}

.day {
    padding: 15px 5px;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.day-header {
    text-align: center;
    font-weight: 600;
    padding: 5px 8px;
}
.day.event .dot, #dot-index .dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
}

.day.event .dot.training,
#dot-index .dot.training{
  background-color: #008080;
}

.day.event .dot.hkota-event,
#dot-index .dot.hkota-event{
  background-color: #ff4242;
}

.day.event .dot.supporting-event,
#dot-index .dot.supporting-event{
  background-color: #2399ff;
}

.day.event .dot.co-organized-event,
#dot-index .dot.co-organized-event{
  background-color: #ff831b;
}

.course-title.training:before {
    content: "";
    border-left: 5px solid #008080;
    margin-right: 5px;
}

.course-title.hkota-event:before {
    content: "";
    border-left: 5px solid #ff4242;
    margin-right: 5px;
}

.course-title.supporting-event:before {
    content: "";
    border-left: 5px solid #2399ff;
    margin-right: 5px;
}

.course-title.co-organized-event:before {
    content: "";
    border-left: 5px solid #ff831b;
    margin-right: 5px;
}

div#dot-index {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 10px;
    margin-bottom: 10px;
}

.dot-wrapper{
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 20px;
    left: 0px;
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 5px;
}
.course-date {
    flex: 0 0 69px;
    height: 69px;
    background: #00808045;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.course-date span:first-child {
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
}
.course-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
#calendar-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 60px;
    background: #00808045;
}
#current-month {
    line-height: 60px;
    font-weight: 600;
}
#prev-month, #next-month {
    border: unset !important;
    color: #005c5c !important;
    background: unset !important;
    font-size: 18px;
}

div#display-course {
    padding: 0 20px 20px 20px;
}

div#display-course .course-details * {
    font-size: 15px;
}

div#display-course .course-heading *{
    font-size: 17px;
}

div#display-course .course-pdf {
    display: none;
}

div#display-course .course-wrapper .details-row {
    margin-bottom: 5px;
}

/* Single post */

.single-post .elementor-post__excerpt p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}



/* MOBILE */

@media screen and (max-width:768px){

  .details-row {
      flex-direction: column !important;
  }

    .course-wrapper .details-row {
      margin-bottom: 15px !important;
  }

  div#course-calendar-widget{
      flex-direction: column !important;
  }

  div#display-course {
      padding: 20px 0px 0px 0px;
      border-top: 1px solid #bbbbbb;
  }

  .course-pdf{
      display: none!important;
  }

  .course-wrapper .course-heading h1{
      font-size: 20px!important;
  }

  .course-wrapper {
      margin: 0 -20px !important;
      padding: 20px;
  }

  div#course-filter {
      gap: 10px !important;
  }

  td.woocommerce-orders-table__cell:not(last-child) {
      border-top: unset !important;
  }

  td.woocommerce-orders-table__cell:last-child {
      border-bottom: 1px solid #d6d6d6 !important;
  }

  .post-wrapper {
      padding: 20px!important;
  }

  .post-data span {
      flex: 1!important;
  }

  .post-data {
    flex-direction: column!important;
  }

}

/* OT List */

div#hkota-ot-list {
    margin-top: 20px;
}

table.hkota-ot-table td,
table.hkota-ot-table th {
    padding: 3px 8px;
    text-align: left;
}

.hkota-pagination-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


a.hkota-page-link.current-page {
    color: #008080;
}

a.hkota-page-link {
    color: #333333;
}


table.hkota-ot-table th {
    border: unset !important;
    background: #008080;
    color: #FFF;
    padding: 8px;
}

table.hkota-ot-table td {
    border: unset;
}

/* Post filter */

div#post-filter select,
div#product-filter select {
    border: 1px solid #008080;
    border-radius: unset;
    padding: 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.post-wrapper {
    background: #f6f6f6;
    padding: 40px;
    font-family: 'Montserrat';
    color: #333333;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.post-data {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.post-data span {
    flex: 0 0 80px;
    font-weight: 500;
}

.post-data p {
    flex: 1;
    margin: unset !important;
}

.post-catalog {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

div#post-hook {
    margin-top: 30px;
}



/* product filter */


.product-wrapper {
    background: #f6f6f6;
    padding: 40px;
    font-family: 'Montserrat';
    color: #333333;
    display: flex;
    flex-direction: row;
    gap: 30px;
}


.product-wrapper .product-image {
    flex: 0 0 35%;
}

.product-wrapper .product-data-wrapper {
    flex: 1;
    display: flex;
    gap: 30px;
    flex-direction: column;
    position: relative;
}

.product-wrapper .product-data {
    display: flex;
    flex-direction: column;
}

.product-wrapper .product-data span {
    font-weight: 500;
}

.product-wrapper .product-data p {
    margin: unset !important;
}

.product-wrapper .product-price {
    display: flex;
}

.product-wrapper .type {
    flex: 0 0 150px;
}

.product-wrapper .register button {
    padding: 10px 20px;
    background: #008080;
    color: #FFF;
    text-decoration: unset !important;
    font-weight: 600;
    border-radius: 3px;
    border:unset;
    margin-left: 10px;
}

.product-wrapper .register {
    height: 45px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Pupil Details Table */

.cert-list-item {
    display: flex;
    flex-wrap: wrap;
}

.cert-list-item:not(:last-child){
    margin-bottom: 10px;
}



































/**/
